@function map-set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}

@function str-split($string, $separator) {
  // empty array/list
  $split-arr: ();
  // first index of separator in string
  $index: str-index($string, $separator);

  // loop through string
  @while $index !=null {
    // get the substring from the first character to the separator
    $item: str-slice($string, 1, $index - 1);
    // push item to array
    $split-arr: append($split-arr, $item);
    // remove item and separator from string
    $string: str-slice($string, $index + 1);
    // find new index of separator
    $index: str-index($string, $separator);
  }

  // add the remaining string to list (the last item)
  $split-arr: append($split-arr, $string);

  @return $split-arr;
}


//getPercent
@function getPercent($key) {
  @return map_get($base-size-percent, $key);
}
//getUnit
@function getUnit($key) {
  @return map_get($base-units, $key);
}
//getPx
@function getPx($key) {
  @return map_get($base-size-px, $key);
}
//getVh
@function getVh($key) {
  @return map_get($base-size-vh, $key);
}
//getVw
@function getVw($key) {
  @return map_get($base-size-vw, $key);
}
//getNumber
@function getNumber($key) {
  @return map_get($base-size-numbers, $key);
}
@function getZindex($key) {
  @return map_get($base-z-index-list, $key);
}
//getColor
@function getColor($key) {
  @return map_get($base-colors, $key);
}
