 // numbers list
 $base-numbers-list: ();

 //global number size
 @for $i from 0 through $max-number {
   $base-numbers-list: map-set($base-numbers-list, getNumber(unquote('base-size-number-'+ $i)), $i);

 }




 // zerofive sizes styles
 $zerofive-sizes: ();

 @for $i from 0 through $maxzerofive-percent {
   $zerofive-sizes: map-set($zerofive-sizes, unquote('percent--'+ $i), getPercent(unquote('base-size-percent-'+ $i)));
 }

 // zerofive vh size
 @for $i from 0 through $maxzerofive-vh {
   $zerofive-sizes: map-set($zerofive-sizes, unquote('vh--'+ $i), getVh(unquote('base-size-vh-'+ $i)));
 }

 // zerofive vw size
 @for $i from 0 through $maxzerofive-vw {
   $zerofive-sizes: map-set($zerofive-sizes, unquote('vw--'+ $i), getVw(unquote('base-size-vw-'+ $i)));

 }

 // zerofive px size
 @for $i from 0 through $maxzerofive-px {
   $zerofive-sizes: map-set($zerofive-sizes, unquote('px--'+ $i), getPx(unquote('base-size-px-'+ $i)));
 }




 // size styles
 $base-size-types: ();

 // precent size
 @for $i from 0 through $max-percent {
   @if $i%$base-unit==0 {
     $base-size-types: map-set($base-size-types, unquote('percent--'+ $i), getPercent(unquote('base-size-percent-'+ $i)));
    }
 }

 // vh size 
 @for $i from 0 through $max-vh {
   @if $i%$base-unit==0 {
     $base-size-types: map-set($base-size-types, unquote('vh--'+ $i), getVh(unquote('base-size-vh-'+ $i)));
   }
 }

 // vw size
 @for $i from 0 through $max-vw {
   @if $i%$base-unit==0 {
     $base-size-types: map-set($base-size-types, unquote('vw--'+ $i), getVw(unquote('base-size-vw-'+ $i)));
   }
 }

 // px size 
 @for $i from 0 through $max-px {
   @if $i%$base-unit==0 {
     $base-size-types: map-set($base-size-types, unquote('px--'+ $i), getPx(unquote('base-size-px-'+ $i)));
   }
 }


 // z-index list
 $base-zindex-list: ();

 @for $i from 0 through $max-zindex {
   $base-zindex-list: map-set($base-zindex-list, unquote(+ $i), getNumber(unquote('base-size-number-'+ $i)));
 }
 // zransitions list
 $base-transition: ();

 @for $i from 0 through $max-transition {
   $base-transition: map-set($base-transition, unquote(+ $i), getNumber(unquote('base-size-number-'+ $i)));
 }

 //------------- base positions types -------------
 $base-positions-types: ('a'$absolute,
   'f'$fixed,
   'r'$relative,
   'u'$unset,
   's'$sticky);

 //------------- Colors -------------

 $base-colors: ('dark':#1d2329,
   'white':#ffffff,
   'green':#01AC2D,
   'gray':#2d353c,
   'blue':#30325c,
   'litedark':#202830,
   'transparent':transparent,
 );

 //------------- Opacity -------------
 $base-opacity: (
   '0'getNumber('base-size-number-0'),
   '0--1'getNumber('base-size-number-0--1'),
   '0--2'getNumber('base-size-number-0--2'),
   '0--3'getNumber('base-size-number-0--3'),
   '0--4'getNumber('base-size-number-0--4'),
   '0--5'getNumber('base-size-number-0--5'),
   '0--6'getNumber('base-size-number-0--6'),
   '0--7'getNumber('base-size-number-0--7'),
   '0--8'getNumber('base-size-number-0--8'),
   '0--9'getNumber('base-size-number-0--9'),
   '1'getNumber('base-size-number-1'));
