
$max-px: 1000;
$max-number: 100;
$max-percent: 100;
$max-vh: 100;
$max-vw: 100;
$max-zindex: 10;
$max-transition: 10;

$maxzerofive-px: 4;
$maxzerofive-number: 4;
$maxzerofive-percent : 4;
$maxzerofive-vh: 4;
$maxzerofive-vw: 4;

