// default buttons
[class*='_cs_button'] {
  outline: none;
  white-space: $nowrap;
  align-items: $center;
  justify-content: $center;
  display: $inline-flex;
  overflow: $hidden;
  cursor: $pointer;
  position: $relative;
  font-family: $fontCode;
  height: getUnit('base-unit-10');
  border-radius: getUnit('base-unit-1');
  padding-left: getUnit('base-unit-4');
  padding-right: getUnit('base-unit-4');
  margin-bottom: getUnit('base-unit-2');
  background-color: getColor('litedark');
  border: getPx('base-size-px-1') $solid getColor('litedark');
  box-shadow: 0px 0px 10px #00000057;

  ._cs_label {
    align-items: $center;
    justify-content: $center;
    position: $relative;
    z-index: getNumber('base-size-number-1');
  }

  ._cs_icon {
    z-index: getNumber('base-size-number-1');
  }

  // default hover
  &:before {
    content: '';
    position: $absolute;
    left: getPercent('base-size-percent-50');
    top: getPercent('base-size-percent-50');
    transition: unquote(getNumber('base-size-number-0--5')+'s');
    height: getPercent('base-size-percent-100');
    width: getPercent('base-size-percent-0');
    background: rgba(getColor('dark'), getNumber('base-size-number-0--1'));
    transform: translate(- getPercent('base-size-percent-50'), - getPercent('base-size-percent-50'));
  }

  &:hover,
  &:focus {
    &::before {
      width: getPercent('base-size-percent-100');
    }
  }
}

._cs_button {

  // buttons types
  @each $key,
  $value in $atoms-button-input-select-types {
    &-#{$key} {
      background-color: $value;
      border: getPx('base-size-px-1') $solid $value;
    }
  }

  // buttons size
  @each $key,
  $value in $atoms-button-input-select-size {
    &-#{$key} {
      height: map_get($atoms-button-input-select-size, #{$key});
    }
  }
}
