// default icon
[class*='_cs_icon'] {
  display: $flex;
  align-items: $center;
  justify-content: $center;
  font-family: $fontCode;
  color: getColor('white');
  background-color: getColor('green');
  font-size: getUnit('base-unit-4');
  min-height: getUnit('base-unit-6');
  min-height: getUnit('base-unit-6');
  min-width: getUnit('base-unit-6');
  max-width: getUnit('base-unit-6');
  margin-left: getUnit('base-unit-1');
  margin-right: getUnit('base-unit-1');
  box-shadow: 0px 0px 10px #00000057
}

._cs_icon {

  // icons types
  @each $key,
  $value in $atoms-icon-size {
    &-#{$key} {
      font-size: $value;
      min-width: map_get($atoms-icon-types, #{$key});
      max-width: map_get($atoms-icon-types, #{$key});
      min-height: map_get($atoms-icon-types, #{$key});
      max-height: map_get($atoms-icon-types, #{$key});
    }
  }
}
