//default label
[class*='_cs_label'] {
  display: $flex;
  font-size: getUnit('base-unit-3');
  min-height: getUnit('base-unit-4');
  line-height: getUnit('base-unit-4');
  color: getColor('white');
  font-family: $fontCode;

}

._cs_label {
  &-center {
    text-align: $center;
    justify-content: $center;
  }

  // labels types
  @each $key,
  $value in $atoms-label-size {
    &-#{$key} {
      font-size: $value;
      min-height: map_get($atoms-label-grid, #{$key});
      line-height: map_get($atoms-label-line-height, #{$key});
    }
  }
}
