//build first
@import './build-first.scss';

// theme config - build middle
@import './build-desktop.scss';
// @import './build-talbet.scss';
// @import './build-mobile.scss';

//build last
@import './build-last.scss';


body {
  background: #333;
  position: relative;
  * {
    box-sizing: border-box;
  }
}



._cs_grid {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(hsla(0, 0%, 100%, 0) 1px, transparent 0),
      linear-gradient(90deg, hsla(0, 0%, 59%, .1) 1px, transparent 0),
      linear-gradient(hsla(0, 0%, 59%, .3) 1px, transparent 0),
      linear-gradient(90deg, hsla(0, 0%, 59%, .3) 1px, transparent 0);
    background-size: 4px 4px,
      4px 4px,
      4px 4px,
      4px 4px;
    background-position: top left;
  }
}
