//global display show hidden
._cs_display {
  &-n {
    display: none;
  }

  &-b {
    display: block;
  }

  &-i {
    display: inline;

    &--b {
      display: inline-block;
    }
  }
  &-f {
    display: flex;
  }

}
