/* Uncomment and set these variables to customize the grid. */
// all flex
// ._cs_flex {
//   display: flex;
//   @each $key,
//   $value in $base-flex {
//     &-#{$key} {
//       position: $value;
//     }
//   }
//   }
._cs_flex {
  display: flex;

  &-wrap {
    flex-wrap: wrap;
  }
  &-d {
    flex-direction: column;
  }
  &-a {
    &--start {
      align-items: flex-start;
    }
    &--center {
      align-items: center;
    }
  } 
}
