//global scroll-style
._cs_scroll {
  &-md::-webkit-scrollbar {
    // width: $scroll-md;
  }

  &-sm::-webkit-scrollbar {
    // width: $scroll-sm;
  }

  &-0::-webkit-scrollbar {
    // width: $base-size-0;
    // height: $base-size-0;
  }

  &-0::-webkit-scrollbar-track {
    // width: $base-size-0;
    // height: $base-size-0;
  }

  &-0::-webkit-scrollbar-thumb {
    // width: $base-size-0;
    // height: $base-size-0;
  }


  &-red::-webkit-scrollbar-track {
    // background: $scroll-bg-color-darkgray;

  }

  &-red::-webkit-scrollbar-thumb {
    // background: $scroll-color-red;

  }
}

._cs_scrolltouch {
  -webkit-overflow-scrolling: touch;

  &-pan {
    &--y {
      touch-action: pan-y
    }
  }
}
