  //sizes

._cs_size {
//width
  @each $key,
  $value in $base-size-types {
    &-w-#{$key} {
      width: $value;
    }
  }
  //min-width
  @each $key,
  $value in $base-size-types {
    &-w-min-#{$key} {
      min-width: $value;
    }
  }
  //max-width
  @each $key,
  $value in $base-size-types {
    &-w-max-#{$key} {
      max-width: $value;
    }
  }
//height
  @each $key,
  $value in $base-size-types {
    &-h-#{$key} {
      height: $value;
    }
  }
  //min-height
  @each $key,
  $value in $base-size-types {
    &-h-min-#{$key} {
      min-height: $value;
    }
  }
  //kax-height
  @each $key,
  $value in $base-size-types {
    &-h-max-#{$key} {
      max-height: $value;
    }
  }
  // minus sizes
  @each $key,
  $value in $base-size-types {
    &-w-#{$key} {
      width: unquote('-' + $value);
    }
  }

  @each $key,
  $value in $base-size-types {
    &-h-#{$key} {
      height: unquote('-' + $value);
    }
  }
}
