//padding
._cs_p {

  @each $key,
  $value in $base-spacing {
    &-#{$key} {
      padding: $value;
    }
  }

  @each $key,
  $value in $base-spacing {
    &-left--#{$key} {
      padding-left: $value;
    }
  }

  @each $key,
  $value in $base-spacing {
    &-top--#{$key} {
      padding-top: $value;
    }
  }

  @each $key,
  $value in $base-spacing {
    &-right--#{$key} {
      padding-right: $value;
    }
  }

  @each $key,
  $value in $base-spacing {
    &-down--#{$key} {
      padding-bottom: $value;
    }
  }

}

//margin
._cs_m {

  @each $key,
  $value in $base-spacing {
    &-#{$key} {
      margin: $value;
    }
  }

  @each $key,
  $value in $base-spacing {
    &-left--#{$key} {
      margin-left: $value;
    }
  }

  @each $key,
  $value in $base-spacing {
    &-top--#{$key} {
      margin-top: $value;
    }
  }

  @each $key,
  $value in $base-spacing {
    &-right--#{$key} {
      margin-right: $value;
    }
  }

  @each $key,
  $value in $base-spacing {
    &-down--#{$key} {
      margin-bottom: $value;
    }
  }
}