._cs_z-index {

  @each $key,
  $value in $base-zindex-list {
    &-#{$key} {
      z-index: $value;
    }
  }

  @each $key,
  $value in $base-zindex-list {
    &-minus--#{$key} {
      z-index: unquote('-'+ $value);
    }
  }
}